h1 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 0;
  }
a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    
  }
ol {
    border-right: 1px solid black;
    width: 250px;
    padding: 25px;
    margin: 0;
  }
#grid {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
  }
@media(max-width:1300px) {
    #grid {
      display: block;
    }
    h1 {
      text-align: left;
    }
    ol {
      border-right: none;
    }
  }